<?xml version="1.0" encoding="UTF-8"?>
<module name="org.aspectj" xmlns="urn:jboss:module:1.8">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="aspectjweaver-1.8.9.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
    </dependencies>
</module>
